@font-face {
    font-family: 'Suisse Intl';
    src: url('..//fonts/Suisse-Intl/SuisseIntl-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Suisse Intl';
    src: url('..//fonts/Suisse-Intl/SuisseIntl-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}