:root {
    --color-light: #FFFFFF;
    --color-dark: #313131;
    --color-accent: #0FA03F;
    --color-gray: #F5F5F5;
    --color-alt-gray: #555555;
    --color-alt-light-gray: #8E8E8E;
    --color-light-gray: #A8A8A8;
    --color-light-blue: #E3EDF8;
    --color-blue: #3793FF;
    --color-dark-alt: #1E1E1E;

    --border: 1px solid var(--color-dark);
    --border-white: 1px solid var(--color-light);
    --border-radius: 5px;
    --border-radius-small: 2px;    
    --border-radius-large: 15px;
    --border-radius-button: 100px;

    --font-family-base: 'Suisse Intl', 'sans-serif';

    --container-width: 1160px;
    --container-padding-x: 10px;

    --section-padding-y: 80px;
    --section-mobile-padding-y: 40px;

    --input-hight: 44px;

    --transition-duration: 0.2s;
}