.advantages {

    &__info {
        display: flex;
        justify-content: space-between; 

        @include tablet {
            display: flex;
            justify-content: start; 
            flex-direction: column;
        }
    }
    

    &__puddle-container {
        margin-bottom: 30px;
    }

    &__title-container {
        max-width: 775px;

        & h2 {
            font-size: 50px;
            line-height: 95%;
            font-weight: 600;

            @include tablet {
                font-size: 40px;
                line-height: 95%;
                font-weight: 600;
            }

            @include mobile {
                font-size: 34px;
                line-height: 95%;
                font-weight: 600;
            } 
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__item {
        width: 237px;
        height: 160px;
        margin-top: 50px;

        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
            line-height: 100%;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-alt-gray);
            line-height: 150%;
        }

        &:first-child {
            margin-bottom: 50px;
        }

        @include tablet {
            width: 100%;
            height: auto;
            margin-top: 30px;

            p {
                padding-bottom: 20px;
            }

            &:first-child {
                margin-bottom: 0;
            }
        }
    }
}