.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 650px;

	&__title {
		max-width: 934px;
		height: 290px;
		color: var(--color-light);
		h2 {
			font-size: 50px;
			font-weight: 600;
			line-height: 95%;
		}
	
		p {
			font-size: 16px;
			font-weight: 500;
			line-height: 150%;
			width: 805px;
			margin-top: 20px;
			
			a {
				text-decoration: underline;
			}
		}

		@include tablet {
			h2 {
				font-size: 40px;
				font-weight: 600;
				line-height: 95%;
			}

			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 150%;
				margin-top: 20px;
				width: 100%;
			}
		}

		@include mobile {
			h2 {
				font-size: 35px;
				font-weight: 600;
				line-height: 95%;
			}

			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 150%;
				margin-top: 20px;
				width: 100%;
			}
		}
	}

	&__input-conteiner {
		display: flex;
		font-size: 14px;
		gap: 20px;

		button {
    		width: 373px;
    		padding: 18px 26px;

			@include tablet {

			}
		}

		@include tablet {
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 100%;

			input {
				width: 100%;
			}

			button {
				width: 100%;
			}
		}

	}
}
