.puddle-bg {
    display: inline;
    padding: 3px 5px;
    color: var(--color-light);
    font-size: 12px;
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
    text-transform: uppercase;
}